<h4 class="social-list-title">{{ 'general.theme.stay_with_us' | t }}:</h4>
<ul class="social-list-simple social-list--color text-inline">
{% if settings.social_facebook_link != blank %}
    <li><a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
        <!-- <i class="icon icon-facebook-logo facebook-color"></i> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="15.789" height="29.112" viewBox="0 0 15.789 29.112">
  <path id="FACEBOOK" d="M916.313,1149.275h.642c1.16,0,2.321-.011,3.48-.008.7,0,.882.191.882.89q0,2.1-.011,4.192c0,.693-.192.892-.879.895-1.16,0-2.319,0-3.48,0h-.671c-.008.253-.021.464-.021.675q0,5.381.013,10.756c0,.167.006.331,0,.5-.026.527-.214.733-.747.746-.68.017-1.362,0-2.042,0q-1.133,0-2.266,0c-.973,0-1.092-.109-1.092-1.06q0-5.431,0-10.867v-.709c-.208-.016-.383-.038-.559-.038-.94,0-1.879,0-2.817,0a3.365,3.365,0,0,1-.442-.011.617.617,0,0,1-.6-.661c-.008-.128,0-.258,0-.386q0-2.015.006-4.025c0-.73.149-.884.866-.89.976-.008,1.951,0,2.928,0h.587c.013-.226.032-.4.032-.578,0-1.1-.01-2.207.011-3.31a7.2,7.2,0,0,1,.789-3.129,6.212,6.212,0,0,1,4.735-3.325,7.7,7.7,0,0,1,1.317-.106c1.234-.016,2.468-.013,3.7-.006.608,0,.794.174.8.789q.019,2.012.006,4.026c0,.635-.2.821-.834.826-.736.006-1.473,0-2.209,0-.2,0-.407,0-.608.013-1,.087-1.452.475-1.508,1.479-.061,1.076-.014,2.158-.014,3.323" transform="translate(-905.702 -1138.816)" fill="#fff"/>
</svg>
    </a></li>
{% endif %}
{% if settings.social_twitter_link != blank %}
    <li><a target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
       <svg xmlns="http://www.w3.org/2000/svg" width="28.009" height="28.033" viewBox="0 0 28.009 28.033">
  <path id="X" d="M16.672,11.871,27.1,0H24.63L15.571,10.306,8.341,0H0L10.936,15.585,0,28.033H2.47l9.561-10.885,7.637,10.885h8.341M3.362,1.824h3.8L24.629,26.3h-3.8" fill="#fff"/>
</svg>
    </a></li>
{% endif %}
{% if settings.social_youtube_link != blank %}
    <li><a target="_blank" class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
            <!-- <i class="icon icon-youtube-logo youtube-color"></i> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="25.322" height="30.097" viewBox="0 0 25.322 30.097">
  <path id="YOUTUBE" d="M13777.386-652.913a6.271,6.271,0,0,1-1.582-.181,3.678,3.678,0,0,1-2.79-3.547c-.023-2.869.012-5.735-.013-8.6a3.858,3.858,0,0,1,3.707-3.725c.184-.008.368-.008.553-.011q7.9,0,15.8-.005a4.321,4.321,0,0,1,2.919.963,3.451,3.451,0,0,1,1.318,2.567c.011.259.026.515.026.774,0,2.5,0,5-.01,7.5a6.732,6.732,0,0,1-.115,1.366,3.849,3.849,0,0,1-3.189,2.831,8.349,8.349,0,0,1-1.155.069q-3.867.008-7.734,0v.005q-2.061,0-4.124,0Q13779.19-652.9,13777.386-652.913Zm2.41-10.152c0,1.945,0,3.894,0,5.842a3.765,3.765,0,0,0,.077.71.982.982,0,0,0,1.159.835,2.712,2.712,0,0,0,.832-.264,9.073,9.073,0,0,0,.894-.6c.021.262.04.5.062.761h1.269c.119-.825.074-7.192-.054-7.614h-1.54c-.014.176-.034.318-.034.459q0,2.51-.006,5.017a3.154,3.154,0,0,1,0,.384.685.685,0,0,1-.593.563c-.216-.008-.4-.243-.427-.566-.008-.091,0-.184,0-.275q0-2.51.011-5.017c0-.176,0-.358,0-.568h-1.625C13779.812-663.249,13779.8-663.156,13779.8-663.065Zm11.779-.435a1.972,1.972,0,0,0-.934,1.719c-.049,1.318-.038,2.642-.017,3.963a2.458,2.458,0,0,0,.253.947,2.09,2.09,0,0,0,3.382.582,2.159,2.159,0,0,0,.55-2.095h-1.22c-.026.355-.023.667-.077.971a.691.691,0,0,1-.774.555c-.416,0-.76-.192-.781-.542-.041-.651-.012-1.3-.012-2h2.84c0-.982.006-1.881,0-2.778a2.1,2.1,0,0,0-.091-.542,1.286,1.286,0,0,0-.739-.91,2.845,2.845,0,0,0-1.1-.241A2.4,2.4,0,0,0,13791.575-663.5Zm-4.073,7.627a1.08,1.08,0,0,0,1.66-.486,3.266,3.266,0,0,0,.334-1.313c.043-1.449.021-2.9.013-4.35a2.223,2.223,0,0,0-.1-.648,1.294,1.294,0,0,0-2-.819c-.174.091-.342.184-.582.318v-2.9h-1.609c-.119.747-.085,9.847.029,10.218h1.257c.064-.2.117-.366.182-.558C13786.984-656.209,13787.233-656.017,13787.5-655.873Zm-12.729-10.218v1.31h1.634v9.02h1.646v-9.031h2.007v-1.3c-.958,0-1.9,0-2.844,0Q13775.987-666.1,13774.772-666.091Zm12.575,9.044a.6.6,0,0,1-.541-.657c-.017-.563-.006-1.134-.006-1.7,0-.843.021-1.692-.011-2.53a.738.738,0,0,1,.907-.763.665.665,0,0,1,.6.734c.013.694,0,1.39,0,2.09s-.021,1.4.008,2.092a.7.7,0,0,1-.726.766A1.066,1.066,0,0,1,13787.348-657.047Zm4.6-3.7c0-.339-.024-.659.006-.977a.735.735,0,0,1,.79-.672.739.739,0,0,1,.813.643,8,8,0,0,1-.019,1.006Zm-8.112-10.013a1.459,1.459,0,0,1-.961-1,4.326,4.326,0,0,1-.217-1.078c-.034-.657-.01-1.318-.01-1.983-.027,0-.054,0-.081,0,.065-.878.07-1.767.2-2.631a1.9,1.9,0,0,1,2.033-1.708,2.067,2.067,0,0,1,2.17,1.663,2.228,2.228,0,0,1,.085.483c-.008,1.47.077,2.952-.059,4.406a1.991,1.991,0,0,1-2.124,2.007A3.689,3.689,0,0,1,13783.839-670.764Zm.3-6.416a2.079,2.079,0,0,0-.029.435v1.823h.008v1.817a2.6,2.6,0,0,0,.026.494.768.768,0,0,0,.724.641.74.74,0,0,0,.691-.608,1.873,1.873,0,0,0,.042-.438q.009-1.869,0-3.747a1.944,1.944,0,0,0-.04-.435.735.735,0,0,0-.69-.606h-.011A.758.758,0,0,0,13784.135-677.18Zm-5.249,6.5v-.574c0-1.673.013-3.344,0-5.017a2.4,2.4,0,0,0-.184-.9c-.583-1.409-1.188-2.807-1.78-4.211-.077-.181-.142-.368-.24-.619h1.915q.538,1.829,1.076,3.669l.1.005c.345-1.214.688-2.434,1.041-3.659h1.94c-.092.251-.16.456-.241.659-.538,1.361-1.075,2.73-1.628,4.094a2.569,2.569,0,0,0-.194,1.009c.011,1.639,0,3.272,0,4.908v.6a3.063,3.063,0,0,1-.909.112A5.467,5.467,0,0,1,13778.886-670.682Zm10.461-.045a1.066,1.066,0,0,1-1.012-.715,2.023,2.023,0,0,1-.165-.691c-.029-2.148-.037-4.3-.059-6.445a1.377,1.377,0,0,1,.053-.246h1.538v.67c0,1.705-.009,3.416-.011,5.121a3.357,3.357,0,0,0,.011.443.564.564,0,0,0,.595.528.586.586,0,0,0,.616-.512,2.365,2.365,0,0,0,.017-.44q0-2.586-.009-5.177v-.635h1.444v7.937h-1.791c-.034-.117-.063-.232-.112-.411a1.305,1.305,0,0,1-1.027.576C13789.405-670.724,13789.376-670.724,13789.347-670.727Z" transform="translate(-13772.501 682.499)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1"/>
</svg>
        </a></li>
{% endif %}
{% if settings.social_instagram_link != blank %}
    <li><a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
            <!-- <i class="icon icon-instagram-logo instagram-color"></i> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="26.246" height="26.198" viewBox="0 0 26.246 26.198">
  <path id="INSTAGRAM" d="M1032.178,1165.681q-5.025,0-10.054,0a2.969,2.969,0,0,1-1.817-.538,2.813,2.813,0,0,1-1.244-2.34c-.013-.975-.006-1.95-.006-2.924q0-8.521,0-17.043a5.309,5.309,0,0,1,.1-1.093,2.88,2.88,0,0,1,2.563-2.231c.238-.019.477-.024.717-.024q9.7,0,19.39,0c.275,0,.552,0,.827.026a2.9,2.9,0,0,1,2.623,2.615c.018.219.023.44.023.661q0,9.709,0,19.414c0,.24,0,.479-.016.717a2.855,2.855,0,0,1-2.888,2.753c-3.406.014-6.814,0-10.22,0Zm7.941-14.5a8.14,8.14,0,0,1-7.073,9.414,7.848,7.848,0,0,1-5.974-1.78,7.945,7.945,0,0,1-2.868-7.632h-2.194v.579q.005,4.8.01,9.594a3.116,3.116,0,0,0,.024.44.905.905,0,0,0,.738.789,3.038,3.038,0,0,0,.6.047q8.809,0,17.618,0a3.388,3.388,0,0,0,.495-.027.916.916,0,0,0,.824-.77,2.3,2.3,0,0,0,.043-.491q0-4.826,0-9.652c0-.158-.022-.317-.038-.507Zm-12.972,1.389a5.019,5.019,0,1,0,5-5.023,5.012,5.012,0,0,0-5,5.023m10.9-8h0c0,.386-.013.772,0,1.157a.921.921,0,0,0,.933,1.015,22.349,22.349,0,0,0,2.427,0,.911.911,0,0,0,.937-.962q.048-1.183,0-2.369a.943.943,0,0,0-.941-.968c-.807-.039-1.62-.042-2.427,0a.954.954,0,0,0-.933,1.028c-.015.367,0,.734,0,1.1" transform="translate(-1019.056 -1139.49)" fill="#fff"/>
</svg>
        </a></li>
{% endif %}
{% if settings.social_pinterest_link != blank %}
    <li><a target="_blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <!-- <i class="icon icon-pinterest-logo pinterest-color"></i> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="22.656" height="29" viewBox="0 0 22.656 29">
  <path id="PINTEREST" d="M1068.385,1157.819c-.187.888-.346,1.677-.522,2.462a16.842,16.842,0,0,1-2.07,5.375,6.4,6.4,0,0,1-1.617,1.791,2.925,2.925,0,0,1-.272.154,18.92,18.92,0,0,1-.2-3.5,38.239,38.239,0,0,1,1.535-8.272c.282-1.047.522-2.1.792-3.152a1.21,1.21,0,0,0-.078-.8,5.8,5.8,0,0,1,.671-5.7,3.546,3.546,0,0,1,.924-.858,2.657,2.657,0,0,1,3.373.651,1.608,1.608,0,0,1,.283,1.26q-.286,1.515-.64,3.014c-.269,1.143-.584,2.274-.852,3.419a6.072,6.072,0,0,0-.1,1.095,1.583,1.583,0,0,0,1.008,1.621,3.8,3.8,0,0,0,4.5-.836,8.714,8.714,0,0,0,1.956-3.414,12.4,12.4,0,0,0,.35-5.884,5.908,5.908,0,0,0-3.662-4.448,6.964,6.964,0,0,0-4.275-.413,8.632,8.632,0,0,0-6.755,5.552,6.532,6.532,0,0,0-.1,4.384,3.73,3.73,0,0,0,.682,1.242,1.642,1.642,0,0,1,.35,1.687c-.131.378-.293.743-.456,1.151a4.507,4.507,0,0,1-3.429-2.471,9.045,9.045,0,0,1-.72-4.253,9.57,9.57,0,0,1,.629-3.118,10.667,10.667,0,0,1,3.406-4.466,11.579,11.579,0,0,1,7.27-2.5,13.354,13.354,0,0,1,5.805,1.1,9.151,9.151,0,0,1,4.669,4.414,8.616,8.616,0,0,1,.8,3.021,14.173,14.173,0,0,1-.986,6.859,9.519,9.519,0,0,1-4.411,4.972,6.97,6.97,0,0,1-5.1.49,4.907,4.907,0,0,1-1.218-.623c-.5-.3-.979-.645-1.546-1.02" transform="translate(-1059.053 -1138.6)" fill="#fff"/>
</svg>
    </a></li>
{% endif %}

{% if settings.social_tumblr_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <i class="icon icon-tumblr-logo tumblr-color"></i>
    </a></li>
{% endif %}
{% if settings.social_snapchat_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <i class="icon icon-snapchat-logo snapchat-color"></i>
    </a></li>
{% endif %}

{% if settings.social_vimeo_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <i class="icon icon-vimeo-logo vimeo-color"></i>
    </a></li>
{% endif %}
</ul>